.animatedArea{
    display: grid;
    justify-content: center; 
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.spinnObject{
    height: 480px;
    width: 480px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.spinningBall{
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.loading{
    visibility: hidden;
    opacity: 1;
}

.loadMessage{
    display: flex;
    justify-content: center;
    height: fit-content;
    transform: rotate(24deg);
    animation: wobble 2s ease infinite;
}

.boardRim{
    background-color: #F7C505;
    padding: 16px;
    border-radius: 15px;
    margin-top: 48px;
    margin-bottom: 48px;
    box-shadow: 7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066), 12.4px 19.6px 10px rgba(0, 0, 0, 0.095), 18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124), 40px 63px 80px rgba(0, 0, 0, 0.19);
    transition: transform 0.5s ease;
    visibility: visible;
}

.messageInside{
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(94, 154, 213);
    border-radius: 10px;
    padding: 16px;
}

h2{
    color: rgb(228, 208, 62);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

  @keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-25%) rotate(-5deg); }
    30% { transform: translateX(20%) rotate(3deg); }
    45% { transform: translateX(-15%) rotate(-3deg); }
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-1deg); }
    100% { transform: translateX(0%); }
  }