.pokeCard {
    transition: transform 0.5s ease;
    perspective: 1000px;
}

.card-inner {
    border: solid #FFE361 12px;
    border-radius: 15px;
    background-color: #9EC884;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 324px;
    margin: 24px;
    padding: 12px;
    transition: transform 0.5s ease;
    box-shadow:
        7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066),
        12.4px 19.6px 10px rgba(0, 0, 0, 0.095),
        18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124),
        40px 63px 80px rgba(0, 0, 0, 0.19);
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
}

.card-front {
    display: flow;
    background: #9EC884; 
    color: black;
}

.card-back {
    transform: rotateY(180deg); 
    text-align: center;
    width: auto;
    text-transform: uppercase;
    padding-inline: 8px;
}

.pokeCard:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

.pokeCard.flipped .card-inner {
    transform: rotateY(180deg); 
}

.card-nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
}

.cardHeader{
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 180px;
}

h3{
    font-size: 24px;
    font-weight: 100;
    margin: 8px;
    margin-inline: 8px;
    color: #FFE361;
}

h4{
    margin: 0;
    font-size: 18px;
    color: rgb(62, 62, 62);
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
    padding-inline: 8px;
}

h5{
    color: #FFE361;
    font-size: 12px;
    font-weight: 100;
    font-weight: 100;
    margin: 0;
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
    padding-inline: 8px;
}

h6{
    color: #FFE361;
    font-size: 12px;
    font-weight: 100;
    font-weight: 100;
    margin: 0;
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    padding-inline: 8px;
    margin-bottom: 8px;
}

p{
    font-size: 10px;
    margin: 0px;
}

.pokeImgArea{
    border: solid #FFE361 5px;
    background-color: #fff1d8;
    border-radius: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.pokeImg{
    width: 124px;
}

.pokeInfoArea{
    border: solid black 5px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.attacks{
    color: #FFE361;
    font-size: 18px;
    font-weight: 100;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    flex-direction: column;
    text-transform: uppercase;
    padding-inline: 8px;
    margin-top: 12px;
    padding: 8px;
}

.stats{
    color: #FFE361;
    font-size: 18px;
    font-weight: 100;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    flex-direction: column;
    text-transform: uppercase;
    padding-inline: 8px;
    margin-top: 12px;
    padding: 8px;
}

.abs{
    color: #FFE361;
    font-size: 18px;
    font-weight: 100;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    flex-direction: column;
    text-transform: uppercase;
    padding-inline: 8px;
    margin-top: 12px;
    padding: 8px; 
}

.infoIcon{
    width: 32px;
    height: 32px;
}

.colorTest{
    width: 64px;
    height: 64px;
}

