.pokeCard{
    border: solid #FFE361 12px;
    border-radius: 15px;
    background-color: #9EC884;
    width: 180px;
    margin: 24px;
    padding: 12px;
}

.cardHeader{
    border: solid black 5px;
    display: flex;
    justify-content: center;
}

h3{
    font-weight: 100;
}

.pokeImgArea{
    border: solid #E4D03E 5px;
    margin-top: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.pokeImg{
    height: 128px;
}

.pokeInfoArea{
    border: solid black 5px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.infoIcon{
    width: 32px;
    height: 32px;
}