body{
    margin: 0;
    background-color: rgb(240, 48, 48);
    color: rgb(228, 208, 62);
    font-family: titan one;
    font-weight: 100;
}

nav{
    display: flex;
    justify-content: center;
}

.body-no-scroll {
    overflow: hidden; 
}

header{
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow:
    7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066),
    12.4px 19.6px 10px rgba(0, 0, 0, 0.095),
    18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124),
    40px 63px 80px rgba(0, 0, 0, 0.19);
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: fit-content;
}

.searchField{
    background-color: #5e9ad5;
    color: #F7C505;
    padding: 8px;
    border-radius: 30px;
    border: none;
    outline: none;
    height: 48px;
    width: 240px;
    font-size: 24px;
    font-family: titan one;
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.searchIcon{
    height: 48px;
    background-color: #F7C505;
    padding: 8px;
    margin-inline: 8px;
    border: 0;
    border-radius: 30px;
    box-shadow: 7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066), 12.4px 19.6px 10px rgba(0, 0, 0, 0.095), 18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124), 40px 63px 80px rgba(0, 0, 0, 0.19);
}

::placeholder{
    color: #F7C505;
}

h1{
    background-image: url("https://puzzlemania-154aa.kxcdn.com/products/2024/puzzle-ravensburger-5000-pieces-pokemon-5000.webp");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    font-size: 308px;
}

.displayBody{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pokeDisplay{
    border-radius: 35px;
    background-color: rgb(179, 7, 7);
    width: 75%;
    padding: 24px;
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    color: #F7C505;
    font-size: 48px;
    margin: 8px;
}

.bottomArea{
    display: flex;
    justify-content: center;
}

.bottom{
    display: flex;
    justify-content: center;

}

.bottomBox{
    background-color: #F7C505;
    padding: 16px;
    border-radius: 15px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-inline-start: 24px;
    box-shadow: 7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066), 12.4px 19.6px 10px rgba(0, 0, 0, 0.095), 18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124), 40px 63px 80px rgba(0, 0, 0, 0.19);
    transition: transform 0.5s ease;
}

.bottomBox:hover{
    cursor: pointer;
    transform: translate3d(0, 25px, 0);
}

.bottomInside{
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(94, 154, 213);
    border-radius: 10px;
    padding: 16px;
}

::-webkit-scrollbar{
    width: 20px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 227, 97);
    border-radius: 10px;
    height: 64px;
    box-shadow: 7.1px 11.2px 3.6px rgba(0, 0, 0, 0.066), 12.4px 19.6px 10px rgba(0, 0, 0, 0.095), 18.9px 29.8px 24.1px rgba(0, 0, 0, 0.124), 40px 63px 80px rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar-track{
    height: 36px;
    background-color: rgb(178, 7, 7);
}