body{
    background-color: rgb(240, 48, 48);
    color: #F7C505;
    font-family: titan one;
    font-weight: 100;
}

header{
    display: flex;
    justify-content: center;
}

.headBox{
    background-color: rgb(94, 154, 213);
    border: solid #FFE361 12px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    max-width: 480px;
    font-size: 28px;
    padding: 28px;
}

h1{
    margin: 0;
}

.content{
    display: flex;
}