@media (max-width: 1800px) {
    h1{
        font-size: 248px;
    }
}

 @media (max-width: 1300px) {
    h1{
        font-size: 180px;
    }

    h2{
        font-size: 24px;
    }

    .bottomBox{
        padding: 8px;
    }
 }

 @media (max-width: 945px) {

    .pokeCard:hover {
        cursor: auto;
        transform: none; 
    }

    button:hover{
        cursor: auto;
        transform: none;
    }

    .bottomBox:hover{
        transform: none;
    }

    .cardHeader{
        width: auto;
    }

    h1{
        font-size: 124px;
    }

    h3{
        font-size: 18px;
    }

    
    h4{
        font-size: 18px;
    }

    h5{
        font-size: 10px;
    }

    h6{
        font-size: 12px;
    }

    .bottomBox{
        margin-inline: 8px;
    }

    .cardInner{
        height: 312px;
        width: 148px;
    }

    .cardFront{
        max-width: 148px;
    }

    .pokeImg{
        max-width: 132px;
    }
 }

 @media (max-width: 660px) {

    .pokeCard.flipped .card-inner{
        width: 180px;
        height: 320px;
        margin-bottom: 16;
        position: relative;
        z-index: 9;
        transform: translate(-50%, -50%);
    }

    .pokeCard:hover{
        transform: scale(1);
    }

    .pokeDisplay{
        width: 85%;
    }

    .bottomBox{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    h1{
        font-size: 80px;
    }

    h2{
        font-size: 16px;
    }

    h3{
        font-size: 12px;
    }

    h4{
        font-size: 12px;
    }

    h6{
        font-size: 10px;
    }

    p{
        font-size: 8px;
    }

    .card-inner{
        height: 240px;
        width: 100px;
        margin: 8px;
        border: solid #FFE361 6px;
    }

    .card-back{
        font-size: 8px;
    }

    .pokeImg{
        max-width: 72px;
    }

    .spinnObject{
        height: 248px;
    }

    h2{
        font-size: 24px;
    }

    .bottomBox{
        padding: 6px;
    }

    .bottomInside{
        padding: 6px;
    }

    .abs{
        margin-top: 4px;
    }

    @keyframes wobble {
        0% { transform: translateX(0%); }
        15% { transform: translateX(-10%) rotate(-5deg); }
        30% { transform: translateX(5%) rotate(3deg); }
        45% { transform: translateX(-5%) rotate(-3deg); }
        60% { transform: translateX(10%) rotate(2deg); }
        75% { transform: translateX(-5%) rotate(-1deg); }
        100% { transform: translateX(0%); }
 }
}

 @media (max-width: 400px) {

    .pokeDisplay{
        padding: 16px;
    }

    h1{
        font-size: 48px;
    }

    h3{
        font-size: 12px;
    }

    h4{
        font-size: 12px;
        margin: 0px;
        border: solid #FFE361 4px;
    }

    h5{
        font-size: 12px;
    }

    h6{
        font-size: 8px;
        border: solid #FFE361 4px;
    }

    .card-inner{
        height: 232px;
        width: 100px;
        margin: 4px;
    }

    .card-front{
        max-width: 96px;
    }

    .cardHeader{
        margin-top: 16px;
    }

    .card-nav{
        height: 12px;
    }

    .pokeImgArea{
        margin-top: 12px;
    }

    .pokeImg{
        max-width: 64px;
    }

    .spinnObject{
        height: 148px;
    }

    h2{
        font-size: 16px;
    }

    .boardRim{
        padding: 8px;
        margin-bottom: 248px;
    }

    .messageInside{
        padding: 8px;
    }

    .abs{
        padding: 4px;
        border: solid #FFE361 4px;
    }

    .backHead{
        align-items: baseline;
    }

    @keyframes wobble {
        0% { transform: translateX(0%); }
        15% { transform: translateX(-2%) rotate(-5deg); }
        30% { transform: translateX(0%) rotate(3deg); }
        45% { transform: translateX(0%) rotate(-3deg); }
        60% { transform: translateX(2%) rotate(2deg); }
        75% { transform: translateX(-2%) rotate(-1deg); }
        100% { transform: translateX(0%); }
 }
 }
